.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.authForm{
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 30px;
}

.input{
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
}

.authButtonWrapper{
    display: flex;
    justify-content: space-between;
}

.formButton{
    width: 150px;
    padding: 10px;
    border: 2px solid blue;
    border-radius: 10px;
    background-color: white;
    font-size: larger;
}