.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.productValues{
    display:  flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.totlaValue{
    justify-content: center;
}

.totlaValueText{
    font-size: 20px;
}

.productValuesWrapper{
    display: flex;
    gap: 10px;
}
