.sklad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skladItem {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.total {
  padding: 5px 50px;
  border: 1px solid black;
}

.chinaItems {
  list-style-type: none;
}

.skladItemInput{
    width: 100px;
}

.text {
  margin: 0;
  padding: 5px 10px;
}
